.container{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(45,202, 63);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
}

.time{
    font-size: 50px;
    font-weight: bold;
}

.direction{
    flex: 0.967;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 8px solid rgb(45,202, 63);
    padding: 10px;
    font-size: 90px;
}
.nextstop{
    flex: 0.9;
}

.information{
    height: 100%;
    background-image: linear-gradient(white, white, rgb(161,223, 165));
    font-size: 60px;
}

.information #haltestellen{
    padding: 14px 10px 10px 10px;
}

#haltestellen{
    /*width: -webkit-fill-available;*/
    width: 100%;
}

#haltestellen tr{
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    align-items: center;
}

#haltestellen tbody td:last-child{
    flex:0.9;
}

#haltestellen td {
    padding-left: 50px;
}

#haltestellen td:nth-child(2){
    border: none;
    border-left: 8px solid rgb(45,202, 63);
    padding: 8px;
    position: relative;
    padding-left: 50px;
}

#haltestellen  td:nth-child(2)::after{
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    border-radius: 50%;
    border: 8px solid rgb(45,202, 63);
    left: -21px;
    top: 35%;
    background-color: white;
}

/*#haltestellen td:nth-child(2)::before{
    content: '';
    display: block;
    height: 2px;
    width: 2.5px;
    position: absolute;
    background-color: rgb(45,202, 63);
    position: absolute;
    top: -2px;
    left: -2.5px;
}*/

#anschluesse{
    padding: 10px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
#anschluesse td {
    padding: 10px;
    text-align: left;
}
#anschluesse th {
    padding: 10px;
    text-align: left;
}

.notifications {
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#message-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    /*border: 10px solid #ccc;*/
    background-color: yellow;
    font-weight: bold;
    border: 7px dashed black;
}

#message {
    position: absolute;
    white-space: nowrap;
    font-size: 40px;
    right: 0;
}