.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    padding: 10px;
}
.direction{
    flex: 0.967;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    font-size: 30px;
}
.nextstop{
    flex: 0.9;
}
#message-container {
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 1500px;
    height: 30px;
    border: 10px solid #ccc;
}

#message {
    position: absolute;
    white-space: nowrap;
    font-size: 20px;
    color: #333;
    right: 0;
    animation: marquee 20s linear infinite;
    animation-iteration-count: infinite;

}

@keyframes marquee {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}
